/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * Open the profile's root directory by going to about:profiles
 *
 * Edit this file and copy it as userChrome.css into your chrome directory
 *
 *
 * Open about:config and set toolkit.legacyUserProfileCustomizations.stylesheets to true
 */

/*
 * This file can be used to customize the look of Mozilla's user interface
 * You should consider using !important on rules which you want to
 * override default settings.
 */

/*
 * For more examples see http://www-archive.mozilla.org/unix/customizing.html
 */

/* Grayscaled addon icons in toolbar */

/*
.toolbarbutton-1 > .toolbarbutton-icon, .toolbarbutton-1 > .toolbarbutton-badge-stack > .toolbarbutton-icon {
    filter: grayscale(80%); !important
}
*/

toolbarbutton:not(hover) {
    filter: grayscale(100%); !important
}

toolbarbutton:hover {
    filter: none; !important
}
