QTabBar,
QTabBar::tab
{
    height: 22px;
    padding: 2px;
    border: 0px;

    background-color: palette(dark);
    color: palette(text);
}

QTabBar::tab:hover
{
    text-decoration: underline;
}

QTabBar::tab:selected
{
    background-color: palette(window);
}
